@keyframes flow {
  from {
    top: 7;
  }

  to {
    top: 10;
  }
}

.naturalLight {
  animation: flow 2s ease 0s infinite alternate none running;
}

.naturalLightIcon {
  vertical-align: middle;
}

@keyframes moveForever {
  from {
    transform: translate3d(-90px, 0, 0);
  }

  to {
    transform: translate3d(85px, 0, 0);
  }
}

.waveBox {
  use {
    fill: var(--mui-palette-wave);

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      opacity: 0.4;
    }
  }
}

.waveInner {
  use {
    animation: moveForever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }

  >use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }

  >use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }

  >use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }

  >use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
}

@keyframes bird {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

@keyframes flowBird {
  from {
    top: 30;
  }

  to {
    top: 35;
  }
}

.bird {
  animation: bird 10s linear 0s infinite normal none running,
    flowBird 2s linear 0s infinite alternate none running;
}
