.title {
  word-break: keep-all;
  rotate: -3deg;
  text-decoration: underline double var(--mui-palette-primary-main);
  cursor: pointer;
}

@keyframes titleShake {
  to {
    rotate: 0deg;
  }
}

// TODO
.titleShake {
  animation: titleShake;
}

.timeline :global(.MuiTimelineItem-root::before) {
  flex: 0;
  padding: 0;
}
