@keyframes trainRunAnim {
  from {
    left: 100%;
  }

  to {
    left: calc(0% - var(--trainWidth));
  }
}

.runningTrain {
  animation: 3s linear 0s 1 normal forwards running trainRunAnim
}

.puffer {
  display: flex;
  flex-direction: row;
}

.train {
  position: fixed;
  top: calc(50% - calc(var(--trainHeight) / 2));
  left: 100%;
  pointer-events: none;
  z-index: 9999;

  pre {
    font-family: var(--primaryFont);
    line-height: 1;
    margin: 0;
  }
}

.trainUnknownSize {
  visibility: hidden;
}

.running[class] {
  cursor: progress;
}

.idle[class] {
  cursor: pointer;
}
